
 <div  class="container" fxLayoutAlign="space-around" fxLayout="row" fxLayout.xs="column">
     <!-- fxLayoutAlign="center"  -->

      <button routerLink="/affaires"><mat-icon>folder</mat-icon>Affaires</button>
      <button routerLink="/armes"><mat-icon><img src="./../assets/image/site/icons8-gun-50.png"/></mat-icon>Armes</button>

      <button routerLink="/vehicules"><mat-icon>directions_car</mat-icon>Véhicules</button>
      <button routerLink="/protagonistes"><mat-icon>person</mat-icon>Protagonistes</button>
      <button routerLink="/acces"><mat-icon>lock_open</mat-icon>Accès</button>
</div> 


    <!--Faire un ngIf: si ce n'est pas le grade 1 alors le bouton acces n'est pas affiché-->

