
<mat-toolbar  role="header" color="primary" fxLayoutAlign="space-between center"> 
    <button mat-button >  
      <img (click)="changeTitle('Accueil')" src="./../assets/image/site/logo.png"/>
      <!--Mettre un routerLink pour tomber sur l'accueil quand on click sur le logo-->
    </button>

   
    <h1>{{title}}</h1>  
     

    <!-- <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="login.valide">   -->
    <button mat-icon-button [matMenuTriggerFor]="menu" > 
       <mat-icon>view_headline</mat-icon> 
    </button>
 </mat-toolbar>
 

  <mat-menu #menu="matMenu">

       


   <!-- Ajouter : Condition d'affichage selon grade exemple : Boutton "acces" s'affiche que pour le grade 1-->

     <!-- <button mat-menu-item [style.color]="appService.selectedMenu == 'affaires' ?'red' : 'black'"  
     (click)= "selectMenu('affaires')" (click)="changeTitle('Gestion des Affaires')" routerLink="/affaires"><mat-icon>folder</mat-icon>Affaires</button> -->


     <!-- <button mat-menu-item [matMenuTriggerFor]="protagoniste" [style.color]="appService.selectedMenu == 'protagoniste' ?'red' : 'black'"  
     (click)= "selectMenu('protagoniste')" (click)="changeTitle('Protagonistes')"  routerLink="/protagoniste"><mat-icon>person</mat-icon>Protagonistes</button> -->
   

    
     <!-- <button  mat-menu-item [style.color]="appService.selectedMenu == 'armes' ?'red' : 'black'"  
     (click)= "selectMenu('armes')" (click)="changeTitle('Enregistrer et consulter les armes')" routerLink="/armes"><mat-icon><img src="./../assets/image/site/icons8-gun-50.png"/></mat-icon>Armes</button> -->
     

     <button mat-menu-item [style.color]="appService.selectedMenu == 'vehicules' ?'red' : 'black'"  
     (click)= "selectMenu('vehicules')" (click)="changeTitle('Enregistrer et consulter les véhicules')" routerLink="/vehicules"><mat-icon>directions_car</mat-icon>Véhicules</button> 
     

     <!-- <button mat-menu-item [style.color]="appService.selectedMenu == 'acces' ?'red' : 'black'"  
     (click)= "selectMenu('acces')" (click)="changeTitle('Gestion des autorisations d\'accès')" routerLink="/acces"><mat-icon>lock_open</mat-icon>Accès</button>  -->
     
     

   </mat-menu>

    <!-- <mat-menu #protagoniste="matMenu">
     <button *ngFor="let personne of listePersonne" routerLink="/protagonistes" >{{personne}}</button>
    </mat-menu> -->

  




